<?xml version="1.0"?>
<!--
/**
 * Mdbhojwani
 * Copyright (C) 2021 Mdbhojwani
 *
 * @package Mdbhojwani_OrderGridItem
 * @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
 * @author Mdbhojwani
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\PageBuilder\Model\Wysiwyg\DefaultConfigProvider">
        <arguments>
            <argument name="additionalSettings" xsi:type="array">
                <item name="toolbar" xsi:type="string">
                    undo redo | styleselect | fontsizeselect | lineheightselect | forecolor backcolor
                    | bold italic underline | alignleft aligncenter alignright | numlist bullist
                    | link image table charmap | code
                </item>
            </argument>
        </arguments>
    </type>
</config>
